  <footer>
    <p style="background-color: #4CAF50; color: white; padding: 20px; text-align: center;">
      <a href="#">About Us</a> | <a href="#">Contact Us</a> &copy; Veritas University - Computer Science Department. All Rights Reserved.
    </p>
  </footer>