
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/courses">Courses</a></li>
      <li><a href="/new-tech">New Events</a></li>
      <li><a href="/payment">Make a Payment</a></li>
    </ul>
  </nav>