<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <header>
    <h1>University - Computer Science Department</h1>
  </header>

  <%- include('./partials/nav.ejs') %>


  
  <div class="not-found content">
    OOPS, page not found :(

  </div>

  <%- include('./partials/footer.ejs') %>


  <script src="script.js"></script>
</body>
</html>
